{{ define "main" }}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center lh-copy w-70-ns">
    <div class="home-row">
      <a href="https://github.com/droidian-images">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa fa-download fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Get Droidian</h2>
          <p class="home-column-text">Latest images from CI</p>
        </div>
      </a>
      
      <a href="https://github.com/droidian/porting-guide">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Porting Guide</h2>
          <p class="home-column-text">Official Droidian devices porting guide</p>
        </div>
      </a>
        
      <a href="https://github.com/orgs/droidian/projects">
        <div class="home-column">            
          <h2 class="home-column-icon"><i class="fa fa-wrench fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Projects</h2>
          <p class="home-column-text">Droidian porting progress</p>
        </div>      
      </a>
    </div>
  </article>

{{ end }}
