<nav class="pv3 ph3 ph4-ns" role="navigation" style="min-height: 60px;">
  <div class="flex-l justify-between items-center center">
    <div style="float: left;">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        <i class="fa fa-debian" aria-hidden="true"></i>
      {{ end }}
    </a>
  </div>
    <div id="menuToggle" style="float: right;">
      <input type="checkbox" />
      
      <span></span>
      <span></span>
      <span></span>
      
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
      <ul id="menu">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}"><li>{{ .Name }}</li></a>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
</nav>
