{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article>
  <div class="db pv4 ph3 relative w-100 bg-darkgrey nested-copy-line-height gray">
    <h1 class="f3 near-black">
      <a href="{{.Permalink}}" class="link-white no-underline">
         {{ .Title }}
      </a>
    </h1>
    {{ if .Date }}
    <span class="f6 db mb3"><b><i class="fa fa-clock-o" aria-hidden="true"></i> </b> {{- .Date.Format "January 2, 2006" -}}</span>
    {{ end }}
    <div class="flex flex-column flex-row-ns">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.Permalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="blah w-100{{ if $featured_image }} w-60-ns pl3-ns{{ end }}">

        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
      </div>
    </div>
    <a href="{{.Permalink}}" class="no-underline ba b--black bg-near-black br2 color-inherit dib f9 hover-bg-dark-gray mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
  </div>
</article>
